[submodule "AppData"]
	path = AppData
	url = https://github.com/perXautomatik/AppData.git
[submodule "DatagripProjects"]
	path = DatagripProjects
[submodule "Documents"]
	path = Documents
[submodule "GitConfig"]
	path = GitConfig
	url = https://gist.github.com/perXautomatik/e01f68f13580acea470e1ae1ce680a15
[submodule "documents"]
	path = documents
