[core]
	symlinks = true
	autocrlf = true
	fscache = true
	longpaths = true
	editor = \"E:\\Program Files\\Microsoft VS Code\\Code.exe\" --wait

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = true
[pack]
	packSizeLimit = 2g
[help]
	format = html
[diff "astextplain"]
	textconv = astextplain
[rebase]
	autosquash = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[credential]
	helper = manager
[http]
	sslBackend = openssl
	sslCAinfo = /ssl/certs/ca-bundle.crt
[user]
	name = perXautomatik
	email = christoffer.broback@gmail.com
