[include]
	path = include/core   
	path = include/alias ; include by absolute path
	path = include/color ; include by absolute path
	path = include/diff ; include by absolute path
	path = include/merge ; todo, add separate bcompare   
	path = include/bcompare       
	path = include/editor
	path = include/add
	path = include/delta ; include by absolute path     
	path = include/gitnweb   
	path = include/secret 
	path = include/attribute
	path = include/exclude 
	path = include/fetch    
	path = include/pack
	path = include/rebase	
	path = include/smartgit	
	path = include/pull
	path = include/safe
	path = include/push