nushell/history.txt
PowerToys/**/*log*
PowerToys/Updates
PowerToys/*.json
!PowerToys/settings.json
PowerToys/**/*version*
PowerToys/**/*version*
PowerToys/**/power-rename-ui-flags
PowerToys/PowerToys Run/Settings/
