[include]
	path = git/include.config	
	path = .config/.gitconfig
[init]
	templateDir = git/git-template
[commit]
	gpgSign = false
[core]
	attributesfile = .config/git/.gitattributes
	editor = Notepad2
[credential]
	helper = manager
[gitflow "prefix"]
	versiontag = v
[gui]
	diffopts = --diff-algorithm=histogram
	pruneduringfetch = true
	recentrepo = 'testing'
[help]
	format = html
[i18n]
	filesEncoding = Windows-1252
[diff]
	guitool = bc
[diff "daff-csv"]
	command = daff diff --git
[difftool "bc"]
	cmd = \"C:/ProgramData/scoop/apps/beyondcompare/current/BComp.exe\" \"$LOCAL\" \"$REMOTE\"
	path = C:/ProgramData/scoop/apps/beyondcompare/current/BComp.exe
[fetch]
	prune = false
[protocol "file"]
	allow = always
[rerere]
	autoupdate = 1
	enabled = 1
[sequence]
	editor = interactive-rebase-tool
[status]
	submoduleSummary = true
[uploadpack]
	allowFilter = true
[winUpdater]
	recentlySeenVersion = 2.25.0.windows.1
[merge]
	guitool = bc
[merge "daff-csv"]
	driver = daff merge --output %A %O %A %B
	name = daff tabular csv merge
[mergetool "bc"]
	cmd = \"C:/ProgramData/scoop/apps/beyondcompare/current/BComp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	path = C:/ProgramData/scoop/apps/beyondcompare/current/BComp.exe
[pull]
	rebase = true
[rebase]
	autoStash = true
	autosquash = false
	updateRefs = false
[safe]
	directory = C:/ProgramData/scoop/buckets/perXautomatik
[user]
	email = christoffer.broback@gmail.com
	name = Christoffer Brobäck
