.DS_Store


!PowerToys/settings.json
PowerToys/**/*log*
PowerToys/**/*version*
PowerToys/*.json
PowerToys/ColorPicker/settings.json
PowerToys/PowerToys Run/
PowerToys/Updates
vscode/globalStorage/
vscode/History/
vscode/profiles/
vscode/sync/**/
vscode/workspaceStorage/
