<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding>
	<Mode mode="BUILD">
		<Arg boolean="false"/>
		<Arg string="Unnamed build"/>
	</Mode>
	<Accounts lastAccountName="PerAutomatik" lastRealm="PC">
		<Account accountName="PerAutomatik"/>
	</Accounts>
	<SharedItems/>
	<Misc showTitlebarName="true" decimalSeparator="." defaultCharLevel="1" thousandsSeparator="," betaTest="true" nodePowerTheme="RED/BLUE" defaultGemQuality="0" showThousandsSeparators="false" buildSortMode="NAME"/>
</PathOfBuilding>
