<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ReplacePhrases>
    <ReplacePhrase>
      <Enable>true</Enable>
      <Input>,,g</Input>
      <Output>your-email-address@gmail.com</Output>
    </ReplacePhrase>
    <ReplacePhrase>
      <Enable>false</Enable>
      <Input>input_some</Input>
      <Output>Auto replace to string, 输出可以是中文</Output>
    </ReplacePhrase>
    <ReplacePhrase>
      <Enable>false</Enable>
      <Input>输入不能是中文</Input>
      <Output>Input CANNOT be chars outside english keyboard, like Chinese.</Output>
    </ReplacePhrase>
    <ReplacePhrase>
      <Enable>false</Enable>
      <Input>输入长度限制</Input>
      <Output>输入字串长度不要超过10个字符。（Input Length Limit: 10 chars.）</Output>
    </ReplacePhrase>
  </ReplacePhrases>
  <ScreenBorders>
    <BorderPixel>8</BorderPixel>
    <LT>
      <Enable>true</Enable>
      <Wheel>Volume</Wheel>
      <WheelClick xsi:type="SendKey">
        <Mode>Task</Mode>
        <KeyValue>173</KeyValue>
        <LeftModifiers>true</LeftModifiers>
      </WheelClick>
    </LT>
    <T>
      <Enable>true</Enable>
      <Wheel>Tab</Wheel>
    </T>
    <RT>
      <Enable>true</Enable>
      <Wheel>Media</Wheel>
      <WheelClick xsi:type="SendKey">
        <Mode>Task</Mode>
        <KeyValue>179</KeyValue>
        <LeftModifiers>true</LeftModifiers>
      </WheelClick>
    </RT>
    <R>
      <Enable>true</Enable>
      <Wheel>PageDownUp</Wheel>
    </R>
    <RB>
      <Enable>true</Enable>
      <Wheel>None</Wheel>
    </RB>
    <B>
      <Enable>true</Enable>
      <Wheel>VirtualDesktop</Wheel>
    </B>
    <LB>
      <Enable>true</Enable>
      <Wheel>None</Wheel>
    </LB>
    <L>
      <Enable>true</Enable>
      <Wheel>PageDownUp</Wheel>
    </L>
  </ScreenBorders>
  <QuickSearch>
    <QuickSearchEntry>
      <Enable>true</Enable>
      <Name>Google</Name>
      <LaunchKey>
        <KeyValue>71</KeyValue>
      </LaunchKey>
      <LaunchUrl>https://google.com/search?q=%s</LaunchUrl>
      <GroupKey>
        <KeyValue>49</KeyValue>
      </GroupKey>
    </QuickSearchEntry>
    <QuickSearchEntry>
      <Enable>true</Enable>
      <Name>百度</Name>
      <LaunchKey>
        <KeyValue>66</KeyValue>
      </LaunchKey>
      <LaunchUrl>https://www.baidu.com/s?wd=%s</LaunchUrl>
      <GroupKey>
        <KeyValue>49</KeyValue>
      </GroupKey>
    </QuickSearchEntry>
    <QuickSearchEntry>
      <Enable>true</Enable>
      <Name>微博</Name>
      <LaunchKey>
        <KeyValue>87</KeyValue>
      </LaunchKey>
      <LaunchUrl>http://s.weibo.com/weibo/%s</LaunchUrl>
      <GroupKey>
        <KeyValue>50</KeyValue>
      </GroupKey>
    </QuickSearchEntry>
    <QuickSearchEntry>
      <Enable>true</Enable>
      <Name>知乎</Name>
      <LaunchKey>
        <KeyValue>90</KeyValue>
      </LaunchKey>
      <LaunchUrl>http://www.zhihu.com/search?q=%s</LaunchUrl>
      <GroupKey>
        <KeyValue>50</KeyValue>
      </GroupKey>
    </QuickSearchEntry>
    <QuickSearchEntry>
      <Enable>true</Enable>
      <Name>Bilibili</Name>
      <LaunchKey>
        <KeyValue>76</KeyValue>
      </LaunchKey>
      <LaunchUrl>http://www.bilibili.com/search?keyword=%s</LaunchUrl>
      <GroupKey>
        <KeyValue>51</KeyValue>
      </GroupKey>
    </QuickSearchEntry>
    <QuickSearchEntry>
      <Enable>true</Enable>
      <Name>Youtube</Name>
      <LaunchKey>
        <KeyValue>89</KeyValue>
      </LaunchKey>
      <LaunchUrl>https://www.youtube.com/results?search_query=%s</LaunchUrl>
      <GroupKey>
        <KeyValue>51</KeyValue>
      </GroupKey>
    </QuickSearchEntry>
    <QuickSearchEntry>
      <Enable>true</Enable>
      <Name>豆瓣电影</Name>
      <LaunchKey>
        <KeyValue>77</KeyValue>
      </LaunchKey>
      <LaunchUrl>http://movie.douban.com/subject_search?search_text=%s</LaunchUrl>
      <GroupKey>
        <KeyValue>0</KeyValue>
      </GroupKey>
    </QuickSearchEntry>
    <QuickSearchEntry>
      <Enable>true</Enable>
      <Name>QR-Code</Name>
      <LaunchKey>
        <KeyValue>81</KeyValue>
      </LaunchKey>
      <LaunchUrl>http://api.qrserver.com/v1/create-qr-code/?data=%s</LaunchUrl>
      <GroupKey>
        <KeyValue>0</KeyValue>
      </GroupKey>
    </QuickSearchEntry>
    <QuickSearchEntry>
      <Enable>true</Enable>
      <Name>&lt;直接运行&gt;</Name>
      <LaunchKey>
        <KeyValue>131085</KeyValue>
      </LaunchKey>
      <LaunchUrl>%s</LaunchUrl>
      <GroupKey>
        <KeyValue>0</KeyValue>
      </GroupKey>
    </QuickSearchEntry>
    <QuickSearchEntry>
      <Enable>true</Enable>
      <Name>打开B站视频(av号)</Name>
      <LaunchKey>
        <KeyValue>262220</KeyValue>
      </LaunchKey>
      <LaunchUrl>https://www.bilibili.com/video/%s/</LaunchUrl>
      <GroupKey>
        <KeyValue>0</KeyValue>
      </GroupKey>
    </QuickSearchEntry>
  </QuickSearch>
  <CustomKeys>
    <HotkeyRemap>
      <Enable>true</Enable>
      <Hotkey>
        <Sequence>
          <HotkeySingle>
            <KeyValue>524366</KeyValue>
            <ModSide>Both</ModSide>
            <Handled>true</Handled>
          </HotkeySingle>
        </Sequence>
        <KeydownTriggered>true</KeydownTriggered>
      </Hotkey>
      <Operation xsi:type="RunCmd">
        <Mode>Task</Mode>
        <Command>notepad</Command>
        <ShowCmdWindow>true</ShowCmdWindow>
        <ReplaceClipboardTo />
      </Operation>
    </HotkeyRemap>
    <HotkeyRemap>
      <Enable>false</Enable>
      <Hotkey>
        <Sequence>
          <HotkeySingle>
            <KeyValue>524372</KeyValue>
            <ModSide>Both</ModSide>
            <Handled>true</Handled>
          </HotkeySingle>
        </Sequence>
        <KeydownTriggered>true</KeydownTriggered>
      </Hotkey>
      <Operation xsi:type="BuildinOperation">
        <Mode>Task</Mode>
        <OperationEnum>ToggleTopmost</OperationEnum>
      </Operation>
    </HotkeyRemap>
    <HotkeyRemap>
      <Enable>false</Enable>
      <Hotkey>
        <Sequence>
          <HotkeySingle>
            <KeyValue>528385</KeyValue>
            <ModSide>Both</ModSide>
            <Handled>true</Handled>
          </HotkeySingle>
        </Sequence>
        <KeydownTriggered>true</KeydownTriggered>
      </Hotkey>
      <Operation xsi:type="BuildinOperation">
        <Mode>Task</Mode>
        <OperationEnum>OpacityUp</OperationEnum>
      </Operation>
    </HotkeyRemap>
    <HotkeyRemap>
      <Enable>false</Enable>
      <Hotkey>
        <Sequence>
          <HotkeySingle>
            <KeyValue>528384</KeyValue>
            <ModSide>Both</ModSide>
            <Handled>true</Handled>
          </HotkeySingle>
        </Sequence>
        <KeydownTriggered>true</KeydownTriggered>
      </Hotkey>
      <Operation xsi:type="BuildinOperation">
        <Mode>Task</Mode>
        <OperationEnum>OpacityDown</OperationEnum>
      </Operation>
    </HotkeyRemap>
  </CustomKeys>
  <KeyMapping>
    <KeyMappingItem>
      <Enable>false</Enable>
      <Key>
        <KeyValue>163</KeyValue>
      </Key>
      <Value>
        <KeyValue>91</KeyValue>
      </Value>
    </KeyMappingItem>
  </KeyMapping>
  <Buildin>
    <ShowHideWindow>
      <KeyValue>120</KeyValue>
    </ShowHideWindow>
    <RunStopServer>
      <KeyValue>121</KeyValue>
    </RunStopServer>
    <WindowInfo>
      <KeyValue>589897</KeyValue>
    </WindowInfo>
    <ExplorerAppPath>
      <KeyValue>589893</KeyValue>
    </ExplorerAppPath>
    <CloseNotepad>true</CloseNotepad>
    <ChromeScrollTab>true</ChromeScrollTab>
  </Buildin>
</Configuration>