<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UserSettings>
            <setting name="ConsolePaneBackgroundColor" serializeAs="String">
                <value>#FF012456</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="ShowCommandsOnFirstPowerShellTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOutlining" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConsolePaneTextBackgroundColor" serializeAs="String">
                <value>#FF012456</value>
            </setting>
            <setting name="MRU" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>C:\Users\Användaren\Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1</string>
                        <string>C:\Users\Användaren\Documents\WindowsPowerShell\Microsoft.PowerShellISE_profile.ps1</string>
                        <string>G:\ProgramData\chocolatey\lib\notepad2\tools\chocolateyInstall.ps1</string>
                        <string>G:\Program Files (x86)\WindowsPowerShell\Modules\Pester\3.4.0\chocolateyInstall.ps1</string>
                        <string>D:\ToGit\PowerShell-Scripts\WindowsAdmin\my-windows\Disassembler\PowershellRoutines\Win10.ps1</string>
                        <string>D:\ToGit\PowerShell-Scripts\WindowsAdmin\my-windows\Disassembler\Win10.ps1</string>
                        <string>D:\ToGit\PowerShell-Scripts\WindowsAdmin\my-windows\Disassembler\OptimizationScript\Windows 10 Optimization Script.ps1</string>
                        <string>D:\ToGit\PowerShell-Scripts\WindowsAdmin\my-windows\loose\boxstarter\System-Init.ps1</string>
                        <string>G:\Program Files\PowerShell\7\InstallPSCorePolicyDefinitions.ps1</string>
                        <string>D:\Program Files\Windows\pythonEnv\env\Scripts\Activate.ps1</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IntellisenseTimeoutInSeconds" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="XmlTokenColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Comment,#FF006400</string>
                        <string>CommentDelimiter,#FF008000</string>
                        <string>ElementName,#FF8B0000</string>
                        <string>MarkupExtension,#FFFF8C00</string>
                        <string>Attribute,#FFFF0000</string>
                        <string>Quote,#FF0000FF</string>
                        <string>QuotedString,#FF00008B</string>
                        <string>Tag,#FF00008B</string>
                        <string>Text,#FF000000</string>
                        <string>CharacterData,#FF808080</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UseEnterToSelectInScriptPaneIntellisense" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Column0ToolsNoEditor" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="AutoSaveMinuteInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ConsolePaneForegroundColor" serializeAs="String">
                <value>#FFF5F5F5</value>
            </setting>
            <setting name="ShowWarningBeforeSavingOnRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConsoleTokenColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Attribute,#FFB0C4DE</string>
                        <string>Command,#FFE0FFFF</string>
                        <string>CommandArgument,#FFEE82EE</string>
                        <string>CommandParameter,#FFFFE4B5</string>
                        <string>Comment,#FF98FB98</string>
                        <string>GroupEnd,#FFF5F5F5</string>
                        <string>GroupStart,#FFF5F5F5</string>
                        <string>Keyword,#FFE0FFFF</string>
                        <string>LineContinuation,#FFF5F5F5</string>
                        <string>LoopLabel,#FFE0FFFF</string>
                        <string>Member,#FFF5F5F5</string>
                        <string>NewLine,#FFF5F5F5</string>
                        <string>Number,#FFFFE4C4</string>
                        <string>Operator,#FFD3D3D3</string>
                        <string>Position,#FFF5F5F5</string>
                        <string>StatementSeparator,#FFF5F5F5</string>
                        <string>String,#FFDB7093</string>
                        <string>Type,#FF8FBC8F</string>
                        <string>Unknown,#FFF5F5F5</string>
                        <string>Variable,#FFFF4500</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShowWarningForDuplicateFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningForegroundColor" serializeAs="String">
                <value>#FFFF8C00</value>
            </setting>
            <setting name="ShowIntellisenseInConsolePane" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowHeightSetting" serializeAs="String">
                <value>915</value>
            </setting>
            <setting name="EditorConsoleNoToolsTwoRowsConsoleHeight" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="WarningBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="DebugForegroundColorSetting" serializeAs="String">
                <value>#FF00FFFF</value>
            </setting>
            <setting name="ShowDefaultSnippets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VerboseBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="ShowIntellisenseInScriptPane" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseEnterToSelectInConsolePaneIntellisense" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowWidthSetting" serializeAs="String">
                <value>1707</value>
            </setting>
            <setting name="ErrorForegroundColor" serializeAs="String">
                <value>#FFFF9494</value>
            </setting>
            <setting name="VerboseForegroundColorSetting" serializeAs="String">
                <value>#FF00FFFF</value>
            </setting>
            <setting name="DebugBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="MruCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ScriptPaneForegroundColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>86</value>
            </setting>
            <setting name="ShowLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScriptPaneBackgroundColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="EditorConsoleNoToolsTwoRowsEditorHeight" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Column2ToolsNoEditor" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="ErrorBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="UseLocalHelp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowScriptOnFirstRunspace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TokenColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Attribute,#FF00BFFF</string>
                        <string>Command,#FF0000FF</string>
                        <string>CommandArgument,#FF8A2BE2</string>
                        <string>CommandParameter,#FF000080</string>
                        <string>Comment,#FF006400</string>
                        <string>GroupEnd,#FF000000</string>
                        <string>GroupStart,#FF000000</string>
                        <string>Keyword,#FF00008B</string>
                        <string>LineContinuation,#FF000000</string>
                        <string>LoopLabel,#FF00008B</string>
                        <string>Member,#FF000000</string>
                        <string>NewLine,#FF000000</string>
                        <string>Number,#FF800080</string>
                        <string>Operator,#FF696969</string>
                        <string>Position,#FF000000</string>
                        <string>StatementSeparator,#FF000000</string>
                        <string>String,#FF8B0000</string>
                        <string>Type,#FF006161</string>
                        <string>Unknown,#FF000000</string>
                        <string>Variable,#FFA82D00</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
        </UserSettings>
    </userSettings>
</configuration>