[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/christoffer/Desktop/POSTAL 2.desktop]
row=1
col=9

[/home/christoffer/Desktop/Portal.desktop]
row=7
col=0

[/home/christoffer/Desktop/Left 4 Dead 2.desktop]
row=6
col=7

[/home/christoffer/Desktop/Space Run.desktop]
row=0
col=5

[/home/christoffer/Desktop/Incremental Adventures.desktop]
row=7
col=4

[/home/christoffer/Desktop/Desperados - Wanted Dead or Alive.desktop]
row=0
col=2

[/home/christoffer/Desktop/Divinity Original Sin Enhanced Edition.desktop]
row=6
col=4

[/home/christoffer/Desktop/Fistful of Frags.desktop]
row=7
col=3

[/home/christoffer/Desktop/net.lutris.divinity-original-sin-enhanced-edition-21.desktop]
row=1
col=8

[/home/christoffer/Desktop/STAR WARS Knights of the Old Republic II The Sith Lords.desktop]
row=1
col=4

[/home/christoffer/Desktop/Shadowrun Returns.desktop]
row=7
col=7

[/home/christoffer/Desktop/Monster Prom 2 Monster Camp Demo.desktop]
row=1
col=5

[/home/christoffer/Desktop/Moe Era.desktop]
row=4
col=3

[/home/christoffer/Desktop/Crush Your Enemies.desktop]
row=5
col=5

[/home/christoffer/Desktop/Hatred.desktop]
row=4
col=5

[/home/christoffer/Desktop/External Visions.desktop]
row=7
col=6

[/home/christoffer/Desktop/Wyrmsun.desktop]
row=0
col=4

[/home/christoffer/Desktop/Lucy Got Problems.desktop]
row=1
col=2

[/home/christoffer/Desktop/How Stories Die.desktop]
row=1
col=3

[/home/christoffer/Desktop/No More Room in Hell.desktop]
row=0
col=3

[/home/christoffer/Desktop/Overlord.desktop]
row=5
col=3

[/home/christoffer/Desktop/Half-Life 2.desktop]
row=2
col=8

[/home/christoffer/Desktop/MajorMinor.desktop]
row=6
col=6

[/home/christoffer/Desktop/Planescape Torment Enhanced Edition.desktop]
row=4
col=4

[/home/christoffer/Desktop/Don't Starve Together.desktop]
row=4
col=6

[/home/christoffer/Desktop/Killing Floor.desktop]
row=6
col=3

[/home/christoffer/Desktop/LEWDAPOCALYPSE.desktop]
row=7
col=5

[/home/christoffer/Desktop/Untitled.sh]
row=5
col=0

[/home/christoffer/Desktop/BioShock Infinite.desktop]
row=5
col=4

[/home/christoffer/Desktop/Heroes of Arca.desktop]
row=6
col=5

[/home/christoffer/Desktop/Pillars of Eternity.desktop]
row=5
col=6

[94F1-F226]
row=6
col=0

[360C45EE0C45AA27]
row=1
col=0

[E20B-5109]
row=0
col=0

[Wastebasket]
row=2
col=0

[/]
row=3
col=0

[/home/christoffer]
row=4
col=0

