[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[10E80ED9E80EBCCA]
row=0
col=0

[360C45EE0C45AA27]
row=1
col=0

[B217-DEAC]
row=5
col=0

[Wastebasket]
row=2
col=0

[/]
row=3
col=0

[/home/christoffer]
row=4
col=0

