[Desktop Entry]
Name=Desperados - Wanted Dead or Alive
Comment=Play this game on Steam
Exec=steam steam://rungameid/260730
Icon=steam_icon_260730
Terminal=false
Type=Application
Categories=Game;
