[Desktop Entry]
Name=Fistful of Frags
Comment=Play this game on Steam
Exec=steam steam://rungameid/265630
Icon=steam
Terminal=false
Type=Application
Categories=Game;
