[Desktop Entry]
Name=Hatred
Comment=Play this game on Steam
Exec=steam steam://rungameid/341940
Icon=steam
Terminal=false
Type=Application
Categories=Game;
