[Desktop Entry]
Name=Heroes of Arca
Comment=Play this game on Steam
Exec=steam steam://rungameid/588890
Icon=steam
Terminal=false
Type=Application
Categories=Game;
