[Desktop Entry]
Name=How Stories Die
Comment=Play this game on Steam
Exec=steam steam://rungameid/1204740
Icon=steam
Terminal=false
Type=Application
Categories=Game;
