[Desktop Entry]
Name=No More Room in Hell
Comment=Play this game on Steam
Exec=steam steam://rungameid/224260
Icon=steam
Terminal=false
Type=Application
Categories=Game;
