[Desktop Entry]
Name=Overlord
Comment=Play this game on Steam
Exec=steam steam://rungameid/11450
Icon=steam
Terminal=false
Type=Application
Categories=Game;
