[Desktop Entry]
Name=POSTAL 2
Comment=Play this game on Steam
Exec=steam steam://rungameid/223470
Icon=steam
Terminal=false
Type=Application
Categories=Game;
