[Desktop Entry]
Name=Space Run
Comment=Play this game on Steam
Exec=steam steam://rungameid/275670
Icon=steam
Terminal=false
Type=Application
Categories=Game;
