[Desktop Entry]
Name=STAR WARS™ Knights of the Old Republic™ II: The Sith Lords™
Comment=Play this game on Steam
Exec=steam steam://rungameid/208580
Icon=steam
Terminal=false
Type=Application
Categories=Game;
