Name,Game ID,Version,Source,InfoLink,Category,Author,Installation Date,Description,Notes
{{#mods}}
"{{name}}",{{gameId}},{{version}},"{{{source}}}","{{{link}}}","{{category}}",{{author}},"{{{installed}}}","{{{description}}}"{{#notes}},"{{{.}}}"{{/notes}}
{{/mods}}