## Mod Showcase: {{{title}}}

**Exported from Vortex by {{user}} for {{{game}}}**

<hr />

|Mod Name|Version|Author|Category|Source|
|:-------|:------|:-----|:-------|:----:|
{{#mods}}
{{name}}{{#image}} [🖼]({{{.}}}){{/image}}|{{#version}}{{.}}{{/version}}|{{author}}|{{#category}}{{.}}{{/category}}|{{#link}}[{{source}}]({{{.}}}){{/link}}{{^link}}{{source}}{{/link}}|
{{/mods}}